
<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body>
    <header role="banner">
      <h1>Chaithanya Theme</h1>
    </header>
    <main role="main">
      <aside>
        {{ page.sidebar }}
      </aside>
      <article>
        {{ page.content }}
      </article>
    </main>
    <footer>
      <p>&copy; 2025 Chebrolu Chaithanya Kumar</p>
    </footer>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
